<h1><%= @user.first_name %>'s Categories:</h1>

<% @categories.each do |category| %>

<p><%= link_to category.name, user_category_path(@user, category) %></p>

<% end %>

<%= link_to 'Add New Category', new_user_category_path %>
