<h1><%= @category.name %></h1>
<%= link_to 'Delete', user_category_path(@user, @category), method: :delete, data: { confirm: "Delete #{@category.name}?" } %><br>
<%= link_to @user.username, user_categories_path %>
